<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	
    </startup>
	<connectionStrings>
		<add name="SchoolDbContext" connectionString="data source=talonezio.click,1433;initial catalog=QUANLYTRUONGHOC;persist security info=True;user id=SchoolDb;password=BodoiIT6;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>