<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SchoolDbContext" connectionString="data source=Talonezio.click;initial catalog=SCHOOLMANAGER;persist security info=True;user id=SchoolDB;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>